@{

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VertoTest</title>
    <meta name="description" content="Explore Verto Home Page for the latest content panels, images, and videos. Learn more about what we do and how we can help.">
    <meta name="keywords" content="panels, iOTA, images, videos, what we do , find out more">
    <meta name="author" content="iOTA">
    <link rel="stylesheet" href="~/css/WebPageCustomStyles.css" />
</head>


    




<body>


  
    

    <main role="main" class="w-100">
        @RenderBody()
    </main>
  






</body>
</html>
